david100 {
  min-width:100%;
  max-height: 800px;
}

carousel-inner.item.img {
  min-width:100%;
  max-height:400px;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{
  display:block; width:100%; 
  }

.item .active {
  max-height: 600px;
}
div.item {
  max-height: 600px;
}


.site-content {
  margin-top: 80px
}
.hero:not(:last-child) {
  border-bottom: 1px solid #dadee0
}
.hero {
  margin-top: 3em
}
.hero img {
  max-height: 286px;
  margin-left: auto;
  margin-right: auto
}
p {
  color: #808284
}
p.large {
  font-size: 20px;
  line-height: 1.7;
  margin-top: 15px;
  font-weight: 300
}
.slick-slide {
  padding-left: 20px;
  padding-right: 20px
}
.hero-content h1 {
  margin-bottom: .5em
}
.hero-content .subtext {
  font-size: 16px;
  color: #808284
}
.hero-content p {
  font-size: 21px;
  color: #000
}
.content-left {
  left: 100px
}
.content-right {
  margin-right: 10em
}
.hero-center {
  padding-bottom: 3em
}
.customers {
  margin-top: 3em;
  margin-bottom: 3em
}
.customers-6 {
  margin-top: 6em;
  margin-bottom: 0em;
}
.customers>.col-sm-3 {
  width: 21%;
  border: 1px solid #808284;
  margin: 2%
}

/* Fade transition for carousel items 
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here 
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls 
} */
/* Fade controls with items 
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
} */

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}


/*.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0)}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
*/

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/*  
.slider img {
  width:100%;
  min-height:200px;
  maxheight:600px;
}
.slider {
  max-height:600px;
  min-width: 100%;
}
 
.img {
  height:600px;
  width:100%;
  object-fit: cover;
}*/